/* Block Border Flag */
.flag {
  height: 300px;
  width: 500px;
  background-color: #006a4e;
  position: relative;
}

/* Circle of the Flag */
.flag div {
  height: 200px;
  width: 200px;
  background-color: #f42a41;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 125px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 2rem;
  color: darkgray;
  text-align: center;
  margin: 0;
  padding: 0;
}

.flag > div > p {
  text-align: center;
  padding-top: 80px;
  color: yellow;
}
body {
  margin: 0;
}
